body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #051C24; /* Couleur de fond sombre */
    color: #fff; /* Couleur du texte */
}

header {
    background-color: #051C24;
    padding: 20px;
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
}

.pic img {
    width: 80px;
    height: 80px;
}

.title {
    font-size: 2.5rem;
    margin-left: 20px;
    color: #fff;
}

.menunav {
    display: flex;
    justify-content: center;
    background-color: #003C57; /* Couleur de fond du menu */
    padding: 10px 0;
}

.choices {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1.2rem;
    color: #fff; /* Couleur du texte par défaut */
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: #003C57; /* Couleur de fond par défaut */
}

.choices:hover {
    background-color: #2a475e; /* Couleur de fond au survol */
    border-radius: 5px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.featured-game{
    margin-left: 40px;
}

.leftpart {
    width: 20%;
    background-color: #003C57;
    padding: 20px;
    border-radius: 10px;
}

.products, .connexion {
    margin-bottom: 20px;
}

.products li, .connexion a {
    color: #fff;
    text-decoration: none;
}

.rightpart {
    width: 75%;
}

.newcollec {
    background-color: #003C57;
    padding: 20px;
    border-radius: 10px;
}

.textmain {
    font-size: 1.5rem;
    text-align: center;
}

.ici a {
    color: #fff;
    text-decoration: none;
}

.ici a:hover {
    text-decoration: underline;
}


#buttonquantity{
    display: inline-flex;
    align-items: center;
}

#buttonquantity button {
    margin: 10px;
}

table{
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #051C24;
    color: #fff;
}

.Copyright {
    width: 70%;
    text-align: center;
}

.contact {
    width: 30%;
    text-align: left;
}

.fa-solid, .fa-brands {
    color: #2b9e4e; /* Couleur des icônes Font Awesome */
}
